<div class="win95-box zoom-story"> 
    <section class="win95-bar">
        <div>
            <p class="win95-title">{{title()}}</p>
        </div>
        <div>
            <button class="win95-btn">_</button>
            <button class="win95-btn">X</button>
        </div>
    </section>
    <section class="story">
        <section class="year">
            <h1>{{year()}}</h1>
        </section>
        <span class="story-text">
            <p>{{text()}}</p>
        </span>
    </section>
</div>

<!-- fade-in-section na div -->