@media only screen and (max-width: 768px) {
    .win95-box{
        min-width: 80%;
    }

    .year{
        font-size: 0.4em;
    }

    .story-text{
        font-size: 0.95em !important;
        margin: 15px !important;
    }
}

/*Windows, a lot of the css is from https://codepen.io/supember/pen/BKmgNZ*/
.win95-box{
    width: 60%;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    text-align: justify;
    /* font-family:"MS Sans Serif"; */

    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
}

.win95-bar{
    display: flex;
    justify-content: space-between;
    background:#000080;
    height:30px;
    width:100%;
}

.win95-bar div{
    display: flex;
}

.win95-title {
    padding-left: 5px;
    margin: 0;
    color:#FFF;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .05em;
}

.win95-btn{
    margin:2px 2px 2px 0;
    float:right;
    width:23px;
    height:25px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:9px;
    font-weight:bold;
    font-family:Tahoma;
    text-align:center;
}

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all .6s ease-in-out;
}

.story-text{
    color: black;
    font-size: 1.4em;
    padding: 0px 20px;
    width: 80%;
    max-height: 120px;
}

.story-text > p{
    margin: 0px;
}

.year{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px black solid;
    width: 30%;
    max-height: 120px;
    color: black;
}

.year > h1 {
    font-size: 3.5em;
}

/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.zoom, .zoom-story {
    transition: transform .2s;
}

/* thanks bro https://dev.to/selbekk/how-to-fade-in-content-as-it-scrolls-into-view-10j4 */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-section.is-visible:hover {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1.1);
}