<h1 class="section-title">About Me</h1>
<div class="win95-box" id="about-me-card">
    <section class="win95-bar">
        <div>
            <!-- <img src="assets/icon-mycomputer.png"> -->
            <p class="win95-title">About me</p>
        </div>
        <div>
            <button class="win95-btn">_</button>
            <button class="win95-btn">X</button>
        </div>
    </section>
    <section class="win95-content">
        <figure class="win95-photo">
            <img src="assets/me.jpg" alt="A picture of myself">
            <figcaption>Yup, that's me (circa 2019)</figcaption>
        </figure>
        <span class="win95-text" style="padding-left: 0px;">
            <h2>Who am I?</h2>
            <p>I'm Pablo Sarturi, a <strong>backend developer</strong> who also (sometimes) works on fullstack projects. <br><br>My primary focus is <strong>C#</strong> development on the .NET platform, working with technologies like WPF and ASP.NET Core. I also have experience with GeneXus, a low-code platform for web development.
            </p>
        </span>
    </section>
</div>