/* https://codesandbox.io/p/sandbox/github/D3nn7/crt-css?file=%2Fsrc%2Fstyle.css%3A33%2C1 */
@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}

@keyframes iconflicker {
    from {
        filter: drop-shadow(0.5px 0 0 #ea36af)
                drop-shadow(-0.5px 0 0 #75fa69);
    }
    to {
        filter: drop-shadow(1px 0.25px 1px #ea36af)
                drop-shadow(-0.5px -0.25px 1px #75fa69);
    }
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px green solid; */
    /* flex-wrap: wrap; */
    font-size: 2.5em;
    text-align: center;
    /* to center the text because of the nav bar */
    padding-bottom: 67px;

    width: 100%;
    height: calc(100vh - 67px) ;
    /* border: 1px blue solid; */
    /* margin-bottom: 20px; */

    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.03s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

fa-icon {
    animation: iconflicker 0.04s infinite alternate;
}

.top-header{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 15px;
    margin: 0;

    font-size: 2.5em;
    font-weight: bold;
}

.top-header > a{
    color: black;
    text-decoration: none;
}

.top-header > a:hover{
    color: #fdffff
}

.menu-list{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    position: sticky;
    top: 0;
}

.menu-item{
    margin: 0 50px;
}

.menu-item > a{
    color: black;
    text-decoration: none;
}

/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.5);
}

.zoom > a > fa-icon:hover{
    color: #fdffff;
}