.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.section-title{
    font-size: 3em;
    margin-top: 100px;
}